.container {
    margin-bottom: 5rem;
    flex: 1;
    min-height: 65vh;
}
.heading {
    text-align: center;
    line-height: 1.5;
}
.heading h1 {
    font-size: 2rem;
    text-transform: capitalize;
}
.heading span {
    color: var(--main-color);
    text-transform: capitalize;
    font-size: 16px;
}
.heading img {
    margin-top: 0.5rem;
    width: 150px !important;
}

.flex-btn {
    display: flex;
    justify-content: space-around;
}

.box-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box {
    background-color: var(--white-alpha-25);
    border: 2px solid var(--white-alpha-40);
    backdrop-filter: var(--backdrop-filter);
    box-shadow: var(--box-shadow);
    margin: 1rem;
    text-align: center;
    border-radius: 0.5rem;
    position: relative;
    margin: 1rem;
    overflow: hidden;
    width: 70%;
    padding: 2rem;
}

// .image:hover {
//     transform: scale(1.1);
// }
.image {
    width: 50%;
    // height: 30rem;
    // object-fit: cover;
    // transition: 0.5s;
    // background-color: palegreen;
    border-radius: 0.5rem;
    margin-top: 2rem;
}
.content {
    position: relative;
    display: block;
    padding: 40px 10px;
    // margin-top: -80px;
    text-align: center;
    line-height: 2;
    text-transform: capitalize;
    font-size: 1.2rem;
    color: gray;
    padding: 1rem 0;
}
.status {
    position: absolute;
    left: -32px;
    top: -10px;
    text-transform: uppercase;
    font-size: 1.1rem;
    margin-bottom: 1rem;
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
    display: inline-block;
    background-color: var(--white-alpha-40);
}
.price {
    // width: 70px;
    // height: 70px;
    line-height: 70px;
    text-align: center;
    // border-radius: 50%;
    position: absolute;
    right: 5%;
    top: 5%;
    font-weight: bolder;
    // background-color: var(--pink-color);
    font-size: 2rem;
}
.title {
    font-size: 2.5rem;
    text-transform: uppercase;
    text-align: center;
    margin-top: 1.5rem;
    color: var(--main-color);
}
.empty {
    background-color: var(--white-alpha-25);
    border: 2px solid var(--white-alpha-40);
    backdrop-filter: var(--backdrop-filter);
    box-shadow: var(--box-shadow);
    text-transform: capitalize;
    color: var(--main-color);
    padding: 1.5rem;
    text-align: center;
    margin: 2rem auto;
    width: 50vw;
    border-radius: 0.5rem;
    line-height: 2;
}
.empty p {
    font-size: 20px;
    padding-bottom: 2rem;
}
.posts-content {
    font-size: 1.3rem;
    line-height: 1.5;
    padding: 1rem 0;
}
