.container {
    margin-bottom: 5rem;
    flex: 1;
    min-height: 65vh;
}
.add-product {
    padding: 0 10vw;
    margin-bottom: 5rem;
}

.heading {
    text-align: center;
    line-height: 1.5;
}
.heading h1 {
    font-size: 2rem;
    text-transform: capitalize;
}
.heading span {
    color: var(--main-color);
    text-transform: capitalize;
    font-size: 16px;
}
.heading img {
    margin-top: 0.5rem;
    width: 150px !important;
}
.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 4% 0;
    position: relative;
}
.form-container form {
    background-color: var(--white-alpha-25);
    border: 2px solid var(--white-alpha-40);
    backdrop-filter: var(--backdrop-filter);
    box-shadow: var(--box-shadow);
    border-radius: 0.5rem;
    padding: 2rem;
    width: 100%;
}
.form-container form .flex {
    display: flex;
    gap: 2rem;
}
.form-container form .flex .col {
    flex: 1 1 25rem;
}

.form-container form .box {
    background-color: var(--white-alpha-25);
    border: 2px solid var(--white-alpha-40);
    backdrop-filter: var(--backdrop-filter);
    box-shadow: var(--box-shadow);
    width: 100%;
    border-radius: 0.5rem;
    margin: 0.5rem 0;
    font-size: 1.3rem;
    padding: 1rem;
}
.form-container form textarea {
    height: 20rem;
    resize: none;
}

.form-container .image {
    height: 30rem;
}
.form-container form p {
    padding-top: 1rem;
    font-size: 1.2rem;
    text-transform: capitalize;
}
.form-container form p span {
    color: red;
}
.flex-btn {
    display: flex;
    justify-content: space-evenly;
}
.product-img-box {
    display: flex;
    align-items: center;
    background-color: var(--white-alpha-25);
    border: 2px solid var(--white-alpha-40);
    backdrop-filter: var(--backdrop-filter);
    box-shadow: var(--box-shadow);
    width: 100%;
    border-radius: 0.5rem;
    margin: 0.5rem 0;
    font-size: 1.3rem;
    padding: 1rem;
}
.img-choose {
    width: 120px !important;
    height: 120px !important;
    border-radius: 15px !important;
    background-color: #fff !important;
    object-fit: cover;
}
.icon-style {
    width: 2rem;
    height: 2rem;
    font-size: 4rem;
    color: #b9bab7;
    text-align: center;
}
.btn-chooseImg {
    position: relative;
    margin-left: 20px;
    background-color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    color: #8b8b8a;
    border-width: 2px;
    border-style: solid;
    border-radius: 8px;
    border-color: var(--main-color);
    padding: 10px;
}
.img-choose-input {
    position: absolute;
    width: 100%;
    background-color: rgb(8, 157, 92);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
}
.error {
    font-size: 1.2rem;
    color: red;
}
