:root {
  --space: 2rem;
  --main-color: #da6285;
  --pink-color: #ff8e9d;
  --pink-opacity: #ffe6e9;
  --white-alpha-40: rgba(255, 255, 255, 0.4);
  --white-alpha-25: rgba(255, 255, 255, 0.25);
  --backdrop-filter: blur(5px);
  --box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}
