.paginate {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 3px;
}
.paginate a {
  display: inline-flex;
  color: var(--main-color);
  margin: 0 10px;
  font-size: 20px;
  padding: 4px 14px;
}
.paginate a:hover {
  opacity: 0.6;
}
.paginate .btn {
  border: 1px solid var(--main-color);
  margin: 0;
  padding: 9px 14px;
}
[aria-disabled="true"] {
  opacity: 0.5;
}
.active {
  border-color: rgb(99 102 241);
  color: rgb(255 255 255) !important;
  background-color: var(--main-color) !important;
}
.active:hover {
  opacity: 0.8 !important;
}
.hidden {
  display: none;
}
